@using Sandbox
@using Sandbox.UI
@inherits PanelComponent
@namespace Sandbox

<root>
	<div class="traveler">
		<div class="background-image">
			<div class="vehicle-container">
				<div class="vehicle vehicle-1" @onclick="@OpenFirstSquad"> </div>
				<div class="vehicle vehicle-2" @onclick="@OpenCommand"></div>
				<div class="vehicle vehicle-3" @onclick="@OpenSecondSquad"></div>
			</div>
		</div>

		<div class="bottom-interaction"></div>

		<div class="top-status-bar">
			<div class="location">Dust Valley</div>
			<div class="status">12:32 | 5 Miles Remaining</div>
		</div>

		@if (ShowFirstSquad)
		{
			<div class="unit-panel active">
			
				<h2>First Squad Members</h2>
				<div class="unit-list">
					<div class="unit-item">
						<img class="unit-avatar" src="sprites/soldiers/portraits/psg.png" />
						<span class="unit-label">Squad Leader</span>
					</div>
					<div class="unit-item">
						<img class="unit-avatar" src="sprites/soldiers/portraits/soldierwhite.png" />
						<span class="unit-label">Unit 1</span>
					</div>
					<div class="unit-item">
						<img class="unit-avatar" src="sprites/soldiers/portraits/soldierwhite.png" />
						<span class="unit-label">Unit 2</span>
					</div>
					<div class="unit-item">
						<img class="unit-avatar" src="sprites/soldiers/portraits/soldierwhite.png" />
						<span class="unit-label">Unit 3</span>
					</div>
					<div class="unit-item">
						<img class="unit-avatar" src="sprites/soldiers/portraits/soldierwhite.png" />
						<span class="unit-label">Unit 4</span>
					</div>
					<div class="unit-item">
						<img class="unit-avatar" src="sprites/soldiers/portraits/soldierwhite.png" />
						<span class="unit-label">Unit 5</span>
					</div>

					<div class="unit-second-label">Second Squad Members</div>

					<div class="unit-item">
						<img class="unit-avatar" src="sprites/ui/avatars/leader2.png" />
						<span class="unit-label">Squad Leader</span>
					</div>
					<div class="unit-item">
						<img class="unit-avatar" src="sprites/ui/avatars/unit6.png" />
						<span class="unit-label">Unit 1</span>
					</div>
					<div class="unit-item">
						<img class="unit-avatar" src="sprites/ui/avatars/unit7.png" />
						<span class="unit-label">Unit 2</span>
					</div>
					<div class="unit-item">
						<img class="unit-avatar" src="sprites/ui/avatars/unit8.png" />
						<span class="unit-label">Unit 3</span>
					</div>
					<div class="unit-item">
						<img class="unit-avatar" src="sprites/ui/avatars/unit9.png" />
						<span class="unit-label">Unit 4</span>
					</div>
					<div class="unit-item">
						<img class="unit-avatar" src="sprites/ui/avatars/unit10.png" />
						<span class="unit-label">Unit 5</span>
					</div>
					<div class="unit-list-close">
						<button class="close-button" @onclick="@CloseWindows">Close</button>
					</div>
				</div>
			</div>
		}
		@if (ShowSecondSquad)
		{
			<div class="unit-panel active">
				
				<h2>Third Squad Members</h2>
				<div class="unit-list">
					<div class="unit-item">
						<img class="unit-avatar" src="sprites/ui/avatars/leader.png" />
						<span class="unit-label">Squad Leader</span>
					</div>
					<div class="unit-item">
						<img class="unit-avatar" src="sprites/ui/avatars/unit1.png" />
						<span class="unit-label">Unit 1</span>
					</div>
					<div class="unit-item">
						<img class="unit-avatar" src="sprites/ui/avatars/unit2.png" />
						<span class="unit-label">Unit 2</span>
					</div>
					<div class="unit-item">
						<img class="unit-avatar" src="sprites/ui/avatars/unit3.png" />
						<span class="unit-label">Unit 3</span>
					</div>
					<div class="unit-item">
						<img class="unit-avatar" src="sprites/ui/avatars/unit4.png" />
						<span class="unit-label">Unit 4</span>
					</div>
					<div class="unit-item">
						<img class="unit-avatar" src="sprites/ui/avatars/unit5.png" />
						<span class="unit-label">Unit 5</span>
					</div>

					<div class="unit-second-label">Fourth Squad Members</div>

					<div class="unit-item">
						<img class="unit-avatar" src="sprites/ui/avatars/leader2.png" />
						<span class="unit-label">Squad Leader</span>
					</div>
					<div class="unit-item">
						<img class="unit-avatar" src="sprites/ui/avatars/unit6.png" />
						<span class="unit-label">Unit 1</span>
					</div>
					<div class="unit-item">
						<img class="unit-avatar" src="sprites/ui/avatars/unit7.png" />
						<span class="unit-label">Unit 2</span>
					</div>
					<div class="unit-item">
						<img class="unit-avatar" src="sprites/ui/avatars/unit8.png" />
						<span class="unit-label">Unit 3</span>
					</div>
					<div class="unit-item">
						<img class="unit-avatar" src="sprites/ui/avatars/unit9.png" />
						<span class="unit-label">Unit 4</span>
					</div>
					<div class="unit-item">
						<img class="unit-avatar" src="sprites/ui/avatars/unit10.png" />
						<span class="unit-label">Unit 5</span>
					</div>
					<div class="unit-list-close">
						<button class="close-button" @onclick="@CloseWindows">Close</button>
					</div>
				</div>
			</div>
		}
		@if (ShowCommand)
		{
			<div class="unit-panel active">Command Team
				<div class="unit-list">
					<div class="unit-item">Platoon Leader</div>
					<div class="unit-item">Platoon Sergeant</div>
					<div class="unit-item">Radio Telephone Operator</div>
					<div class="unit-item">Platoon Medic</div>
				</div>
				<div class="unit-list-close">
					<button class="close-button" @onclick="@CloseWindows">Close</button>
				</div>
			</div>
		}


	</div>

</root>

@code
{

	bool ShowFirstSquad = false;
	bool ShowSecondSquad = false;
	bool ShowCommand = false;

	void OpenFirstSquad()
	{
		ShowFirstSquad = true;
		ShowSecondSquad = false;
		ShowCommand = false;
	}

	void OpenSecondSquad()
	{
		ShowFirstSquad = false;
		ShowSecondSquad = true;
		ShowCommand = false;
	}

	void OpenCommand()
	{
		ShowFirstSquad = false;
		ShowSecondSquad = false;
		ShowCommand = true;
	}

	void CloseWindows()
	{
		ShowFirstSquad = false;
		ShowSecondSquad = false;
		ShowCommand = false;
	}
}
